table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}
  
td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white; 
}


.container {
    text-align: center;
}
.inputFill {
    width: 38%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

.header {
    margin: 0px;
    padding-top: 10px;
    width: 100%;
    height: 70px;
}
.textHeader {
    text-align: center;
}



.boxCenter {
    text-align: center;
}

.buttonDelete {
    background-color: red;
    border: none;
    border-radius: 30px;
    margin: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonInput {
    background-color: green;
    border: none;
    border-radius: 30px;
    margin: 10px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}