
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
* {
    color: #19345E;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.jumbotron-fluid{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.jumbotron-poly {
    background-image: url('img/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.text-jumbotron h4 {
    font-size: 25px;
    font-weight: 700;
}
.text-jumbotron h1 {
    font-size: 85px;
    font-weight: 700;
}
.text-jumbotron h3 {
    font-size: 25px;
    font-weight: 500;
}
.form-grup {
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
}
.form-grup input {
    margin-top: 40px;
}
.image-form {
    width: 100%;
    min-height: 700px;
    background-image: url('img/charles-rRWiVQzLm7k-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.image-fill {
    width: 100%;
    min-height: 700px;
    background-color: #19345E;
    opacity: 65%;
    padding: 30%;
}
.image-logo {
    padding-top: 80px;  
    padding-bottom: 80px;
}
@media (max-width: 768px) { 
    .img-jumbotron {
        width: 40%;
        margin-top: 40px;
    }
    .text-jumbotron {
        text-align: center;
    }
    .text-jumbotron h4 {
        font-size: 15px;
        margin-top: 10px;
    }
    .text-jumbotron h1 {
        font-size: 45px;
    }
    .text-jumbotron h3 {
        font-size: 15px;
    }
}